html {
    font-family: 'Montserrat', sans-serif;
}

#landingHTML {
    background: url(images/splititLandingBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#standardHTML {
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
                url(images/splititStandardBackground.jpg) no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navBar {
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    color: rgb(255,255,255);
    cursor: default;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navBar li {
    text-decoration: none;
    display: table;
    height: 100%;
}

.navBarItemL {
    color: rgb(255,255,255);
    text-align: center;
    float: left;
    padding: 0% 5%;
    cursor: pointer;
}

.navBarItemL:active {
  color: rgb(210,215,211);
}

.navBarItemR {
    float: right;
    padding: 0% 2.5%;
    cursor: pointer;
}

.navBarItemButton:hover {
    font-weight: bold;
}

.navBarButton {
    border: none;
    background: none;
    line-height: 150px;
    padding:0!important;
    font: inherit;
    color: rgb(255,255,255);
    cursor: pointer;
}

.navBarButton:focus {
  outline:0;
}

.navBarButton p:hover {
  font-weight: bold;
}

.navBarButton p:active {
  color: rgb(210,215,211);
}

#title {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 6vw;
    text-align: center;
    cursor: default;
}

#title h1 {
    margin: 0;
    color:rgb(255, 255, 255);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#title h1:hover {
    color: rgba(0, 0, 0, 0)
}

#modal {
	position: fixed;
	font-family: inherit;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	opacity: 0;
  z-index: -1;
  transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modalContent {
	width: 50%;
	position: relative;
	margin: 15% auto;
	padding: 20px 20px;
	border-radius: 5px;
	background: rgb(255,255,255);
	text-align: center;
}

.modalContent h1 {
  font-size: 40px;
  color:rgb(121,136,137);
  margin: 20px auto 10px;
}

#errorMessage {
  color: #d91e18;
  margin: 0px auto 20px;
  animation: none 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -12px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #4EA6EA; }

.loginInput, .registerInput {
  margin: 0 auto 20px;
  font-size: 20px;
  display: block;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  box-shadow: -5px 10px 0px -7px #ebebeb, 5px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  height:17px;
  border: 0;
}

.loginInput:focus, .registerInput:focus {
  box-shadow: -5px 10px 0px -7px #4EA6EA, 5px 10px 0px -7px #4EA6EA;
}

input[name="firstname"] {
  margin-top: 40px;
}

#forgotPassword {
  display: block;
  text-decoration: none;
  color:rgb(121,136,137);
}

#forgotPassword:hover {
  font-weight: bold;
}

#forgotPassword:active {
  color: rgb(210,215,211);
}

input[type=submit] {
  margin: 20px auto 10px;
  font-size: 30px!important;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color:rgb(121,136,137);
  cursor: pointer;
}

input[type=submit]:hover {
  font-weight: bold;
}

input[type=submit]:active {
  color: rgb(210,215,211);
}

#contentContainer {
  margin: 150px auto;
  width: 80%;
}

#groupContainer {
  float: left;
  width: 40%;
  margin-bottom: 150px;
}

#billContainer {
  float: left;
  width: 50%;
  margin-bottom: 150px;
}

#leftColumnWide {
  float: left;
  width: 60%;
  margin-bottom: 150px;
}

#leftColumn {
  float: left;
  width: 50%;
  margin-bottom: 150px;
}

#userSummary, #requestsSummary {
  width: 100%;
  padding: 50px auto;
  background: rgb(236, 236, 236);
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 10px;
}

#userSummary {
  padding-bottom: 20px;
}

.groupRequest:hover {
  background: rgba(255, 255, 255, 1)
}

#requestsSummary {
  padding-bottom: 50px;
}

.contentHeader {
  color:rgb(121,136,137);
  font-size: 40px;
  text-align: center;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#summaryMessage {
  font-size: 20px;
  color:rgb(121,136,137);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

#topStatus {
  margin-top: 20px;
}

#statusButtons {
  font-size: 16px;
  color: #4EA6EA;
  margin-top: 0px;
  margin-bottom: 10px;
  overflow: auto;
}

#leftButton {
  float: left;
  margin-left: 15%;
  margin-bottom: 0;
  cursor: pointer;
}

#rightButton {
  float: right;
  margin-right: 15%;
  margin-bottom: 0;
  cursor: pointer;
}

#leftButton:active, #rightButton:active {
  opacity: 0.6;
}

#scrollMessage {
  color:rgb(121,136,137);
  text-align: center;
  margin: 30px auto 0px;
}

.billLabel{
  margin: 0px auto 5px 25%;
  color:rgb(121,136,137);
  display: inline-block;
}

.billValue{
  margin: 0px 25% 5px auto;
  float: right;
  color:rgb(121,136,137);
}

#groupList, #billList {
  margin-top: 0px;
}

.groupRequest {
  background: rgb(236, 236, 236);
  width: 49%;
  border-radius: 5px;
  margin-top: 2px;
  padding-bottom: 20px;
  display: inline-block;
  text-align: center;
}

.requestCost {
  font-size: 60px;
  margin: 0px auto 10px;
  color:#4EA6EA;
}

.requestName {
  font-size: 30px;
  margin: 20px auto 0px;
  color:rgb(121,136,137);
}

.requestInfo {
  margin: 0px auto 0px;
  color:rgb(121,136,137);
}

.requestActions {
  font-size: 20px;
  margin: 20px auto 0px;
}

.accept {
  color: #4EA6EA;
  float: left;
  margin-left: 15%;
}

.reject {
  color: #d91e18;
  float: right;
  margin-right: 15%;
}

.accept:hover, .reject:hover {
  cursor: pointer;
}

.accept:active, .reject:active {
  opacity: 0.5;
}

.rightRequest {
  float: right;
}

.groupItem, .billItem, .groupUserItem {
  height: 50px;
  padding: 0px auto;
  margin: 2px;
  background: rgb(236, 236, 236);
  border-radius: 5px;
  display: flex;
}

.billDetails {
  text-align: center;
  margin: 2px 2.5%;
  width: 95%;
  background: rgb(236, 236, 236);
  border-radius: 5px;
  display: block;
}

.groupItem:hover, .billItem:hover, #addUserItem:hover, #leaveGroup:hover {
  background: rgb(255, 255, 255);
  cursor: pointer;
}

.groupItem:active, .billItem:active, #addUserItem:active, #leaveGroup:active {
  background: rgb(236, 236, 236);
}

.groupItem h3, .billItem h3, .groupUserItem h3 {
  color:rgb(108,122,137);
  margin: auto 25px;
}

.billItem span

#addGroupItem h3, #addBillItem h3, #addUserItem h3 {
  color: #4EA6EA;
}

.pendingUser h3, .rejectedUser h3 {
  opacity: 0.6;
}

#leaveGroup {
  margin-top: 10px;
}

#leaveGroup h3 {
  color: #d91e18;
}

#leaveGroup:active {
  background: rgb(236, 236, 236);
}

.userStatus {
  opacity: 0.6;
  line-height: 50px;
  color: rgb(108,122,137);
  font-size: 20px;
  padding: auto;
  margin: 0 25px 0 auto;
}

.resend {
  line-height: 50px;
  color: #4EA6EA;
  font-size: 20px;
  padding: auto;
  margin: 0 25px;
}

.resend:hover {
  cursor: pointer;
}

.resend:active {
  opacity: 0.6;
}

.billAmount {
  line-height: 50px;
  color: #4EA6EA;
  font-size: 20px;
  padding: auto;
  margin: 0 25px 0 auto;
}

#groupUserList {
  padding-left: 0px;
}

.userItem {
  height: 30px;
  display: flex;
  padding: auto;
  margin: auto auto 10px auto;
  box-shadow: 0px 10px 0px -7px #ebebeb, 0px 10px 0px -7px #ebebeb;
  transition: box-shadow 0.3s;
}

.userItem h3 {
  color:rgb(108,122,137);
  float: left;
  margin: 0px auto 0px 10px;
}

.userItemActive {
  box-shadow: 0px 10px 0px -7px #4EA6EA, 0px 10px 0px -7px #4EA6EA;
}

.deleteUser {
  color:rgb(108,122,137);
  font-size: 30px;
  padding: auto;
  margin: 0 25px 0 auto;
}

.deleteUser:hover {
  cursor: pointer;
}

#groupList {
  list-style-type: none;
}

#addGroupUser h3 {
  color: #4EA6EA;
}

#addGroupUser:hover {
  cursor: pointer;
}

#addGroupUser:active {
  opacity: 0.6;
}

#plusIcon {
  margin: 0px 0px 0px 10px;
}

.removeGroup {
  margin: auto 25px auto auto;
  max-height: 30px;
  width: auto;
  height: auto;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
}

.together {
  display: flex;
}

#poundSign, #atSign {
  margin-right: 0;
}

#newBillAmount, #newUsername {
  margin-left: 0;
}

.deleteTask {
  color:rgb(108,122,137);
  font-size: 20px;
  padding: auto;
  margin: 0 25px 0 auto;
}

.deleteTask:hover {
  cursor: pointer;
}

#chartContainer {
  overflow: auto;
  width: 100%;
}

#leftChartContainer {
  float: left;
  width: 49%;
}

#rightChartContainer {
  float: right;
  width: 49%;
}

#individualBillChart {
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#groupBillChart {
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chartLabels {
  color: rgb(108,122,137);
  text-align: center;
  margin: 10px auto 10px;
}

.chartDescriptionLeft {
  color: rgb(108,122,137);
  float: left;
  margin: 5px auto 0px 25%;
}

.chartDescriptionRight {
  color: rgb(108,122,137);
  float: right;
  margin: 5px 25% 0px auto;
}

#billMessage {
  color: rgb(108,122,137);
  font-size: 20px;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

#payMessage {
  cursor: pointer;
  color: #4EA6EA;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

#payMessage:active {
  opacity: 0.6;
}

#payAmount, #paySign {
  cursor: pointer;
  color: #4EA6EA;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

#newPaymentLine {
  text-align: center;
}

#poundSign, #newBillAmount {
  color: #4EA6EA;
  font-size: 60px;
}